{% extends 'base_restaurateur_page.html' %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
    <table class="table table-responsive">
      <tr>
        <th>ID заказа</th>
        <th>Клиент</th>
        <th>Телефон</th>
        <th>Адрес доставки</th>
      </tr>
    {% for current_order_record in order_records %}
      <tr>
        <td>{{ current_order_record.id }}</td>
        <td>{{ current_order_record.client_name }} {{ current_order_record.surname }}</td>
        <td>{{ current_order_record.phone }}</td>
        <td>{{ current_order_record.delivery_address }}</td>
      </tr>
    {% empty %}
    {% endfor %}

    </table>
  </div>
{% endblock %}
